<div class="sign-in-popup">
  <div class="row">
    <div class="col-md-6 mb-30">
      <h3>Sign In</h3>
      <form action="">
        <label for="sign-in-input">Username or email address <abbr class="required" title="required">*</abbr></label>
        <input type="text" name="email" id="sign-in-input">

        <label for="sign-in-password">Password <abbr class="required" title="required">*</abbr></label>
        <input type="text" name="password" id="sign-in-password">

        <input type="submit" name="sign-in" value="Sign In" class="btn btn-md btn-dark btn-button">

        <a href="#" class="sign-in-popup__forgot-password">Forgot Password?</a>
      </form>
    </div>
    <div class="col-md-6 mb-30">
      <h3>Register</h3>
      <form action="">
        <label for="register-input">Email address <abbr class="required" title="required">*</abbr></label>
        <input type="text" name="email" id="register-input">

        <label for="password">Password <abbr class="required" title="required">*</abbr></label>
        <input type="password" name="password" id="register-password">

        <input type="submit" name="register" value="Register" class="btn btn-md btn-dark btn-button">
      </form>
    </div>
  </div>
</div>