{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
      <div class="container">
        <center>
            <div class="row">
                <div class="col">
                    <div class="card mb-grid">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div class="card-header-title">Buyurtma bajarildi !</div>
                          </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h3><b>Ism: {{ order.name }}</b></h3>
                                    </li>
                                     <li class="list-group-item">
                                        <h3><b>Manzil: {{ order.address }}</b></h3>
                                    </li>
                                     <li class="list-group-item">
                                        <h3><b>Telefon: {{ order.phone }}</b></h3>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                 </center>
             </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}